@model IEnumerable<Empresa>

@{
	ViewData["Title"] = "Listado de Empresas";
}

<h1>Listado de empresas ingresados</h1>

<a asp-action="Crear" class="btn btn-primary mb-3">Crear nuevo</a>

<table class="table">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Direccion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var empresa in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-primary">Editar</a>
                    <a class="btn btn-danger">Borrar</a>
                </td>
                <td>
                    @empresa.Nombre
                </td>
                <td>
                    @empresa.Direccion
                </td>
                <td>
                    @empresa.Nit
                </td>
            </tr>
        }
    </tbody>
</table>