@model IEnumerable<Menu>;

@{
	ViewData["Title"] = "Menu"; 
}

<h1>Menus</h1>

<a asp-action="Crear" class="btn btn-primary mb-3">Crear nuevo</a>

<table class="table">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var menu in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-primary" asp-action="Editar" asp-route-IdMenu="@menu.IdMenu">Editar</a>
                    <a class="btn btn-danger" asp-action="Borrar" asp-route-IdMenu="@menu.IdMenu">Borrar</a>
                </td>
                <td>
                    @menu.Nombre
                </td>
            </tr>
        }
    </tbody>
</table>
