@model UsuarioPrueba

@{
	ViewData["Title"] = "Mi Perfil";
}

<form asp-action="Registro">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>

	<div class="mb-3">
		<label asp-for="IdUsuario" class="form-label"></label>
		<input asp-for="IdUsuario" class="form-control" />
		<span asp-validation-for="IdUsuario" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="Nombre" class="form-label"></label>
		<input asp-for="Nombre" class="form-control" />
		<span asp-validation-for="Nombre" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="CorreoElectronico" class="form-label"></label>
		<input asp-for="CorreoElectronico" class="form-control" />
		<span asp-validation-for="CorreoElectronico" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="Password" class="form-label"></label>
		<input asp-for="Password" class="form-control" />
		<span asp-validation-for="Password" class="text-danger"></span>
	</div>

	<button class="btn btn-primary">Editar</button>
</form>
